@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}

.container-snap {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.content-gradient {
  background: rgb(25, 25, 25);
  background: linear-gradient(
    59deg,
    rgba(25, 25, 25, 1) 4%,
    rgba(38, 27, 37, 1) 12%,
    rgba(56, 36, 54, 1) 17%,
    rgba(36, 16, 35, 1) 25%,
    rgba(96, 34, 74, 1) 34%,
    rgba(76, 25, 57, 1) 36%,
    rgba(45, 13, 27, 0.9720375210631127) 43%,
    rgba(107, 29, 63, 0.9720375210631127) 51%,
    rgba(54, 15, 32, 0.9720375210631127) 55%
  );
  background-size: 150% 150%;
  animation: animateGradient 18s infinite alternate ease;
}

@keyframes animateGradient {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 50% 0%;
  }
}
